/* 主页样式 */
html,
body {
  height: 100%;
  background-color: #fff;
}

.divAll {
  width: 100%;
  height: 100vh;
  position: relative;
}


/* 顶部 */
.divTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #000000;
  color: #fff;
  padding: 0 20px;
}

.divTop h2 {
  padding: 0;
  margin: 0;
}

.divTop .desc {
  display: flex;
}

.divTop .desc .exit {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.divTop .desc .exit a:hover {
  color: #3A4651;
}

.divTop .person {
  font-size: 14px;
}

/* 退出提示模态框 */
.modal-dialog,
.modal-content {
  width: 400px;
}


/* 主体 */
.divMiddle {
  height: 90%;
  display: flex;
}

/* 左侧 */
.divMiddle .divLeft {
  width: 15%;
  background-color: #3A4651;
  height: 100%;
}

/* 树状菜单 */
#ulShow {
  height: 100%;
}

#ulShow>.list-group {
  color: #fff;
  margin: 0;
  height: 40px;
  line-height: 40px;
  margin: 0;
  list-style: none;
}

/* 一级菜单 */
#ulShow>.list-group>.list-group {
  margin: 0;
  padding-left: 20px;
}

#ulShow>.list-group>.collapse>.list-group {
  margin: 0;
}

/* 动画进行时的样式设置，要和动画结束时的样式保持一致 */
#ulShow>.list-group>.collapse>.list-group>.list-group-item,
#ulShow>.list-group .collapsing .list-group-item {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 40px;
  background-color: #1E2D3B;
  border: 0;
}

#ulShow>.list-group>.collapse>.list-group>.list-group-item a,
#ulShow>.list-group .collapsing .list-group-item a {
  text-decoration: none;
  color: #fff;
}

#ulShow>.list-group>.collapse>.list-group>.list-group-item:hover,
#ulShow>.list-group .collapsing .list-group-item:hover {
  background: #2D363F;
  cursor: pointer;
}

#ulShow>.list-group>.collapse>.list-group>.list-group-item:hover a,
#ulShow>.list-group .collapsing .list-group-item:hover a {
  color: lightblue;
}

#ulShow>.list-group .collapsing {
  transition: height .5s ease;
  /* 修改为你想要的持续时间和缓动函数 */
  /* 动画加载时会有一个向下的高度占位 */
  /* background-color: red; */
}

/* 右侧 */
.divMiddle .divRight {
  width: 85%;
}