table {
  tr {
    th {
      text-align: center;
    }
  }
}

.tShow {
  tr {
    td {
      text-align: center;

      button {
        padding: 2px 8px;
        font-size: 14px;
      }
    }
  }
}